/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
   font-family:'lato',sans-serif;

}

.text-primary{
    color: #ed8005f2;
}

/* nav releted styles */
 nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin:  0px 200px;
   
}

.nav-title{
    color: black;
    font-size: 45;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
    
}

nav li {
    list-style:none ;
    margin-right:50px ;
    justify-content:space-between ;
}

nav a{
    text-decoration: none;
    color: rgba(52, 38, 5, 0.937);
    align-items: ;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A ;
    color:white ;
    border: 0;
    font-size:20px ;
    font-weight:700 ;
    padding:15px 30px ;
}

/*header releted style*/
.header{
    background-color: aliceblue;



}
.bann{
    padding: 30px  30px 30px 150px ;
    display: flex;
    align-items: center;
}

  .bann .profile-pic{ 
    width: 500px;


}
