/* common shared styles */
body{
    font-family: "Open Sans", sans-serif;
   font-family:'lato',sans-serif;

}

.text-primary{
    color: #ed8005f2;
}

.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
   
}

.sectiom-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/* nav releted styles */
 nav{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin:  0px 200px;
   
}

.nav-title{
    color: black;
    font-size: 50px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
    
}

nav li {
    list-style:none ;
    margin-right:50px ;
    justify-content:space-between ;
}

nav a{
    text-decoration: none;
    color: rgba(52, 38, 5, 0.937);
    align-items: ;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A ;
    color:white ;
    border: 0;
    font-size:20px ;
    font-weight:700 ;
    padding:15px 30px ;
}

/*header releted style*/
.header{
    background-color: aliceblue;
    background-image:url('/images/header_bg.png');
    background-repeat: no-repeat; 
    background-position: bottom right;

}
.banner{
    padding: 30px  30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
   
}

  .bann .profile-pic{ 
    width: 600px;
    margin-bottom:0px;
  


}
.banner-greeting{

    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{


}
/* main swction styles */


/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

